<a href="#" class="card-container">
  <img [src]="gameInformations.gameCover" class="card-img" alt="" />
  <div class="card-label">
    <div class="card-label-content">
      <p>{{ gameInformations.gameLabel }}</p>
    </div>
    <div class="card-pricing">
      <div class="card-pricing-title">
        <h3>Play it now</h3>
      </div>
      <div class="card-pricing-value">
        <div class="card-pricing-value-console">
          <span>|</span>
          <p>{{ gameInformations.gameType }}</p>
        </div>
        <div class="pricing-value-money">
          <p class="game-price">{{ gameInformations.gamePrice }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
