* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(9, 9, 121, 1) 100%
  );
}

a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
  cursor: pointer;
  :hover {
    color: blue;
    font-weight: 300;
  }
}
